/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* changing bootstrap  dropdown */
ul.dropdown-menu {
    border-radius: 0;
}

/* **** */
/* jquery calender css */
#ui-datepicker-div {
    font-family: 'Poppins';
}

button {
    box-shadow: none !important;
}

/* ************************************ */

:root {
    /* colors */
    --color-red: #ff0202;
    --color-green: #009D24;
    --color-green-light: #52D952;
    --color-primary: #2E7CD8;
    --color-primary-60: rgb(46, 124, 216, .60);
    --color-grey: #989898;
    --color-black: #000;
    --color-white: #fff;
    --border-color: #707070;
    --button-primary: var(--color-primary);
    --button-primary-hover: #4789d4;
    --hero-text: #E8D32E;

    /* box shadows */
    --text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold-medium: 600;
    --font-weight-bold: 700;
    --input-border-radius: 12px;
}

/* bootstrap text  color */
.text-primary {
    color: var(--color-primary) !important;
}

.btn-outline-primary {
    color: var(--color-primary) !important;
    border: 1px solid var(--color-primary) !important;
}
.btn-green {
    background-color: var(--color-green-light) !important;
}
.btn-green:hover {
    background-color: var(--color-green)!important;
    color: var(--color-white)!important;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}





/* border colors for getting the landscape of div */
.border-color {
    border: 1px solid var(--border-color);
}

.red {
    outline: 1px solid red;
}

.black {
    outline: 1px solid black;
}

.green {
    outline: 1px solid green;
}

.blue {
    outline: 1px solid blue;
}

.yellow {
    outline: 1px solid yellow;
}

.input-outline-0:focus {
    outline: none;
    /* background-color: red; */
}

.input-outline-1:focus {
    outline: 1px solid var(--border-color);
}

/************** 
START CSS
GLOBAL
***************/

/* body */
body {
    font-family: Poppins;
}


/* custom define tages and classes */
.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
    font-weight: var(--font-weight-regular);
}

.fs-22 {
    font-size: 22px;
}

/* boldness */
.b-bold {
    font-weight: var(--font-weight-bold);
}

.b-semi-bold {
    font-weight: var(--font-weight-bold-medium);
}

.b-regular {
    font-weight: var(--font-weight-regular);
}

.b-medium {
    font-weight: var(--font-weight-medium);
}

.rounded-12px {
    border-radius: 12px;
}

.rounded-6px {
    border-radius: 6px;
}

.rounded-10px {
    border-radius: 10px;
}

/* placeholer */
.center-placeholer::placeholder {
    text-align: center;
}

/* end boldness */
h2 {
    font-size: 26px;
    font-weight: var(--font-weight-regular);
}

h3 {
    font-size: 24px;
    font-weight: var(--font-weight-medium);
}

h4 {
    font-size: 18px;
    font-weight: var(--font-weight-regular);
}

.text-green {
    color: var(--color-green);
}

.text-red {
    color: var(--color-red);
}

.main-section {
    min-height: 500px;
}

/* radio buttons */
input[type=radio] {
    border-color: var(--border-color);
}

input[type=radio]:checked {
    background-color: var(--color-primary);
}

/* borders */
.border-right-1 {
    border-right: 1px solid var(--border-color);
}

/************** 
    START
 TOP NAVBAR
***************/

.top-nav a {
    font-weight: var(--font-weight-regular);
    font-size: 20px;
    color: var(--color-black);
}

.top-nav .navbar-nav a {
    font-size: 16px;
    font-weight: var(--font-weight-regular);
    margin-right: 16px;
}

.top-nav .top-search {
    border: 1px solid var(--border-color);
    border-radius: var(--input-border-radius);
}

.top-nav .top-search-btn {
    right: 5px;
    top: 5px;
    padding: 2px 15px;
    border-radius: 7px;
}

.top-nav .top-search::placeholder {
    font-size: 12px;
    vertical-align: super;
}

/* user profile */
#avatar-left {
    display: none;
}

input[type=checkbox]:checked {
    border-color: var(--color-primary) !important;
    background-color: var(--color-primary);
}

/************** 
    END
 TOP NAVBAR
***************/

/* all body section */
#body-section .main-section {
    padding-bottom: 20px;
}

/* assignments hero section */
.assignment-hero-section {
    height: 350px;
    background: #989898;
    color: var(--color-white);
    border: 1px solid var(--border-color);
}

.assignment-hero-section-text {
    font-size: 56px;
    font-weight: var(--font-weight-regular);
}
.assignment-hero-section-subtext {
    font-size: 46px;
    font-weight: var(--font-weight-regular);
}

/* herosection in all pages */
.hero-section {
    height: 350px;
    background: url("../Images/hero-img.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section-text {
    color: #E8D32E;
    font-size: 100px;
    font-weight: var(--font-weight-bold);
    text-shadow: var(--text-shadow);
}

/******************** 
side bar in all pages 
*********************/

.sidebar {
    /* height: calc(100vh - 405px); */
    height: 100%;
    width: 24px;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
    box-shadow: var(--box-shadow);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 70%;
    font-size: 36px;
    /* margin-left: 50px; */
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    width: 250px;
    text-transform: uppercase;
    color: var(--color-black);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: var(--button-primary);
}
.right-slider{
    height: 160px;
    width: 400px;
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 34px 0 0 34px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0px;
    background-color: var(--color-white);
    overflow-x: hidden;
    transition: .5s;
}
.right-slider.slider-2{
    top:200px
}
.right-slider.hide{
    right: -320px;
}
.right-slider .toggler{
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    border-radius: 30px;
    box-shadow: var(--box-shadow)!important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    padding-left: 25px;
}
.right-slider .content{
    margin-left: 65px;
}
#nav-btn {
    background: var(--color-white);
    border: none;
}

#dots-3 {
    display: flex;
    flex-direction: column;
}

#dots-3 span {
    height: 10px;
    width: 10px;
    margin-bottom: 1px;
    border-radius: 50%;
    background-color: var(--button-primary);
}

.sidebar .toggle {
    padding-right: 2px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.active {
    color: var(--color-primary) !important;
}

.btn-outline-primary {
    color: var(--button-primary);
    border-color: var(--button-primary);
}

.btn-outline-primary:hover {
    background-color: var(--button-primary);
}

.btn-primary {
    background-color: var(--button-primary);
    border-color: var(--button-primary);
}

.btn-primary:hover {
    background-color: var(--button-primary-hover);
    border-color: var(--button-primary-hover);
}

.form-select,
input:not([type=submit]) {
    border: 1px solid var(--border-color);
    outline: 0;
    border-radius: var(--input-border-radius);
}

.form-select:focus,
.input:not([type=submit]):focus {
    border: 1px solid var(--border-color);
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--color-white);
    background-color: var(--color-primary-60);
}

.alert-error {
    position: relative;
    width: 20px;
    height: 20px;
}

.error-tooltip {
    --bs-tooltip-opacity: 1;
    --bs-tooltip-max-width: 234px;
    --bs-tooltip-padding-x: 10px;
}

.error-tooltip .tooltip-inner {
    --bs-tooltip-border-radius: 0;
    --bs-tooltip-bg: var(--color-white);
    --bs-tooltip-color: var(--color-black);
    --bs-tooltip-opacity: 1;
    border: 1px solid var(--border-color);
    font-size: 16px;
    font-family: inherit;
}

.error-tooltip .tooltip-arrow {
    display: none;
}

.alert-error::before {
    width: 20px;
    height: 20px;
    content: '!';
    color: #fff;
    font-size: 14px;
    display: grid;
    place-items: center;
    background-color: var(--color-red);
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    border-radius: 50%;
}

/************** 
END CSS
GLOBAL
***************/


/* **************

    Login page

 ************************ */
/* login page */
#login-form {
    margin: 140px 0 0 45px;
}

#login-form .input-fields,
#login-form select,
#login-form .remember-me {
    width: 313px !important;
    margin: 0 auto;
}

#login-form input:not([type=checkbox]) {
    border: 1px solid var(--border-color);
    border-radius: var(--input-border-radius);
}

#login-form .links {
    color: var(--color-black);
    font-size: 16px;
    font: var(--font-weight-regular);
}

#login-form p {
    margin: 0;
}

#login-form .forget-email {
    text-decoration: none;
}

/* login button */
#login-form button[type=submit] {
    padding: 5px 50px;
    font-size: 20px;
    font-weight: var(--font-weight-regular);
    background-color: var(--button-primary);
    border: none;
}

#login-form button[type=submit]:hover {
    background-color: var(--button-primary-hover);
}

.navbar-nav a:hover {
    color: var(--color-primary) !important;
}

/* access modal dialog */
#accessModal input::placeholder {
    text-align: center;
    color: var(--color-black);

}

/* *********** 

    Sing up page

    ************************ */
#sing-up-main select {
    -webkit-appearance: menulist !important;
}


/* *************** 
    Dashboard Page
********** */
/* left section */
/* top welcome professor */
.dashboard-main .card .card-text {
    color: var(--color-primary);
    transition: all 0.25s;
}

.welcome-title {
    font-weight: var(--font-weight-regular);
    color: var(--color-primary);
    font-size: 20px;
}

/* courses card section */
#courses-section .card {
    margin-left: 16px;
    margin-bottom: 30px;
    width: 160px;
    border-radius: 12px;
    background-color: #fff;
    text-transform: uppercase;
    box-shadow: var(--box-shadow);
    transition: all 0.25s;
}
#courses-section .card:hover p {
    color: #fff !important;
}

#courses-section .card:hover a img {
    filter: invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
}

#courses-section .card:hover {
    box-shadow: none;
    background-color: var(--button-primary-hover);
}

#courses-section .card-body {
    padding: 24px 0;
}

#courses-section .card-text {
    font-size: 16px;
    font-weight: var(--font-weight-regular);
}
/* ****************************************** */
/*    Student Page --- Course Card section     */
/* ****************************************** */
.students #courses-section {
    width: 1070px;
}
.students #courses-section .card {
    margin-bottom: 30px;
}

/* right section */
#right-calender-section .classes-time {
    width: 100%;
    background: var(--color-white);
    font-size: 14px;
    margin-bottom: 10px;
    padding: 8px;
    box-shadow: var(--box-shadow);
    font-weight: var(--font-weight-regular);
    border-radius: var(--input-border-radius);
}

/* red alert */
#red-alert {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    opacity: 1;
    transition: all 0.5s;
}

/* calender */
#calender .rd-container {
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: 16px;
}

#calender .rd-day-selected {
    color: #000;
    background: rgba(46, 124, 216, 0.5);
    border-radius: 8px;
}
/* At Student Dashboard */
.students #calender .rd-day-selected {
    background: #4CBC9A;
}

/* today date */
.today-date {
    color: var(--color-primary);
}

/* ***************************

    Create a course page

********************************************* */
/* slect university dropdown design */
.input-focus {
    padding: 5px 20px;
    border: 1px solid var(--border-color);
    border-radius: var(--input-border-radius);
}

.input-focus:focus {
    border: 1px solid var(--border-color);
}

.input-textarea {
    border: 1px solid var(--border-color);
    border-radius: var(--input-border-radius);
}

.input-textarea:focus {
    border: 1px solid var(--border-color);
}

#add-course button[type=submit] {
    padding: 5px 50px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: var(--font-weight-regular);
    background-color: var(--button-primary);
    border: none;
}

#add-course button[type=submit]:hover {
    background-color: var(--button-primary-hover);
}

#add-course .date {
    border: none;
    background-color: transparent;
}

/* center border */
#side-border {
    background-color: black;
    width: 1px;
    height: 100%;
}



/*********************************************
                Instructor  Page
***********************************************/
.instructor .heading .back-btn a,
.instructor .heading .back-btn a {
    text-decoration: none;
    color: var(--color-black);
    transition: margin 200ms ease-in-out;
}

.instructor .heading .back-btn a:hover,
.instructor .heading .back-btn a:hover {
    margin-left: -5px !important;
}

.instructor.courses .heading .title a,
.instructor.students .heading .title a {
    margin-top: -15px;
}

.instructor.courses .heading .title,
.instructor.students .heading .title {
    padding-left: 10px;
}

.instructor.courses :is(tbody, td, tfoot, th, thead, tr),
.instructor.students :is(tbody, td, tfoot, th, thead, tr),
.instructor.student-view :is(tbody, td, tfoot, th, thead, tr),
.instructor.gradebook :is(tbody, td, tfoot, th, thead, tr) {
    border-style: none !important;
}

.instructor.courses .table thead tr,
.instructor.students .table thead tr,
.instructor.student-view .table thead tr,
.instructor.gradebook .table thead tr {
    text-decoration: underline;
}

.instructor.gradebook .table-container {
    overflow: auto !important;
}

.my-gradebook .table {
    min-width: 1820px !important;
}

.alert-notificaiton .table {
    min-width: 1620px !important;
}

/* ***************

Instructor view student page

        **************************8*/

.student-view .profile-section {
    background: #EDEDED;
}

/* *************************** 

Course policies page

*******************************************  */
#course-policies .course-policies-dropdown {
    border: 1px solid var(--border-color);
    border-radius: var(--input-border-radius);
    padding: 5px 10px;
}

#course-policies .course-policies-dropdown:focus {
    border: 1px solid var(--border-color);

}

/* login button */
#course-policies button[type=submit] {
    padding: 5px 50px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: var(--font-weight-regular);
    background-color: var(--button-primary);
    border: none;
}

#course-policies button[type=submit]:hover {
    background-color: var(--button-primary-hover);
}

/* *****************************

student detail page

****************************************8 */
/* table design */
#grade-book table :is(td) {
    border-style: none !important;
}

#grade-book table thead tr {
    text-decoration: underline;
}

#grade-book .see-more {
    color: var(--color-black);
}

/* *********************************************

    White Board Page

******************************************************************* */
#white-board .white-btn {
    background: transparent;
    border: none;
}

/* *********************************

    Create White board

    ***************************************************/
#white-board .dropdown-item button:hover {
    background-color: var(--button-primary-hover);
}

#white-board .dropdown-item:focus,
#white-board .dropdown-item:hover {
    color: var(--color-white);
    background-color: #fff;
}

/* sidemenu */
#white-board .side-menu {
    position: absolute;
    left: 50px;
    top: 10%;
}

#white-board .side-menu .nav-menu {
    padding: 10px 0;
    background: #fff;
    border-radius: 50px;
    width: 60px;
    margin-bottom: 1rem;
    opacity: 1;
    transition: all .5s;
}

#white-board .side-menu button {
    padding: 15px 0;
}

#white-board button:hover {
    border: none;
}

#white-board button:not(:hover) {
    border: none;
}

#white-board .side-menu button img {
    width: 20px;
}

/* board */
#white-board .white-board {
    background: var(--color-white);
    /* background: url("../Images/icons/Mask2.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    border: 1px solid #707070;
    min-height: 770px;
}

/* #white-board canvas{
    width: 100%!important;
    height: 770px!important;
}
#white-board .canvas-container{
    width: 100%!important;
    height: 770px!important;
} */


/* end white board */
/* share button */
#share-dropdown li {
    width: 500px;
}

#share-dropdown li:hover,
#dots-dropdown li:hover,
#present-dropdown li:hover {
    background: var(--color-white);
    color: var(--color-black);
}
.dropdown .btn-outline-primary:focus,
.dropdown .btn-outline-primary:hover{
    color: #fff!important;
}
/* present dropdown */
#present-dropdown li {
    width: 350px;
}

#present-dropdown .disabled {
    background: rgba(141, 141, 141,.22);
    border-radius: 12px;
}

#present-dropdown .m-code {
    width: 60px;
    border-radius: 0;
}

/* dots button dropdown */
#dots-dropdown li {
    width: 200px;
}

/* hide show */
#switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
}

#switch input {
    height: 0;
    width: 0;
    opacity: 0;
}

#switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-white);
    -webkit-transition: .4s;
    transition: .4s;
}

#switch .slider::before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-primary);
    -webkit-transition: .4s;
    transition: .4s;
}

#switch input:checked+.slider {
    background-color: #2196F3;
}

#switch input:checked+.slider:before {
    background-color: #fff;
}


#switch input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(38px);
}

/* Rounded sliders */
#switch .slider.round {
    border-radius: 34px;
}

#switch .slider.round:before {
    border-radius: 50%;
}

/* hideopen */
#hideOpen {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

/* hide show end */
/* tooltip */
.profile-tooltip {
    opacity: 1 !important;
    /* background-color: red !important; */
}

.profile-tooltip .tooltip-arrow {
    display: none !important;
}

.profile-tooltip .tooltip-inner {
    border-radius: 0;
    background-color: #6E6969;
}


/* **************************** 

 red red red red red red red Assignment Page  red red red red red red red 

*********************************************** */
.assignment-home .home-text::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 10px;
    background-color: var(--color-primary);
}

.assignment-home tbody,
td,
tfoot,
th,
thead,
tr {
    border: none;
    font-size: 16px;
    font-weight: var(--font-weight-regular);
}

.assignment-home thead {
    border-bottom: 2px solid #1F71CE;
}

/* **************************** 

 red red red red red red red Create Assignment Question 1 Page  red red red red red red red 

*********************************************** */
.create-assignment-q1 .select-value {
    border-radius: 10px;
    width: 150px;
}

.create-assignment-q1 input#title-assessment {
    border-radius: 6px;
    width: 30%;
    border: 1px solid var(--border-color);
}

.create-assignment-q1 input[type="text"]:focus,
.create-assignment-q1 select:focus,
textarea {
    border: 1px solid var(--border-color);
    outline: 0;
}

/* date */
.create-assignment-q1 .datepicker input {
    width: 150px;
}

.create-assignment-q1 .multiple-choice {
    border: 1px solid var(--border-color);
    width: 40%;
    padding: 0 15px 15px;
}

.create-assignment-q1 .multiple-choice input {
    width: 25% !important;
}

.create-assignment-q1 .part-2-checks div:nth-child(even) input {
    border: 2px solid var(--color-green);
}

.create-assignment-q1 .part-2-checks div:nth-child(odd) input {
    border: 2px solid var(--color-red);
}

.create-assignment-q1 .round {
    position: relative;
}

.create-assignment-q1 .round .radio-rounded {
    position: absolute;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    height: 18px;
    left: -26px;
    top: 0;
    width: 18px;
}

.create-assignment-q1 .round .radio-rounded::after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 10px;
}

.create-assignment-q1 .round input[type="checkbox"] {
    visibility: hidden;
}

.create-assignment-q1 .round input[type="checkbox"]:checked+label {
    background-color: var(--color-black);
    box-shadow: inset 0 0 0 3px white;
    /* margin: 10px; */
}

.my-courses .cards-section .card {
    border-radius: 12px;
    box-shadow: var(--box-shadow);
}

.my-courses .cards-section .card-top-color.bg-primary {
    background-color: var(--color-primary) !important;
}

.my-courses .cards-section .card-top-color.bg-green {
    background-color: var(--color-green);
}

.my-courses .cards-section .card-top-color.bg-grey {
    background-color: var(--color-grey);
}

.my-courses .cards-section .card-top-color {
    height: 10rem;
}

.my-courses .cards-section .icon {
    padding: 10px;
    font-size: 11px;
}

.my-courses .cards-section .icon-red p {
    color: var(--color-red) !important;
}

.my-courses .cards-section .icon-red img {
    filter: invert(19%) sepia(87%) saturate(5814%) hue-rotate(356deg) brightness(99%) contrast(117%);
}

/* **************************** 

 red red red red red red red History of real Estate  red red red red red red red 

*********************************************** */
#chose-img+label {
    background-color: #505050;
    border: 1px solid var(--border-color);
}

/* tabnavs */
#tab-nav .nav-link {
    padding-left: 0;
    transition: all .4s linear;
    position: relative;
    color: var(--color-black);
}

.tab-content .active {
    color: #000 !important;
}

#tab-nav .nav-item .active {
    color: var(--color-black) !important;
    /* transition-delay:  2s;
    transition-duration: 2s; */
    background-color: transparent !important;
}

#tab-nav .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #1F71CE;
    /* animation: sheen 0.3s alternate forwards; */
}

/* @keyframes sheen { */
/* 25% {
        width: 25%;
      } */
/* 50% {
        width: 50%;
      } */
/* 75% {
        width: 75%;
      } */
/* 100% {
      width: 100%;
    } */
/* } */

/* posts */
#posts {
    /* border: 1px solid #8D8D8D; */
    margin-top: 80px;
}

#posts .editor-row {
    background: rgb(152, 152, 152, 0.07);
    padding: 20px 30px;
}

#posts .editor-last-row {
    padding: 20px 0 20px 30px;
}

#posts .add-a-comment {
    border-radius: 30px;
}

#posts .add-a-comment input {
    border-radius: 30px;
    padding-right: 80px;
}
#posts .add-a-comment button {
    top:1px;
    right: 1px;
    border-radius: 0 20px 20px 0;
}

#student .col-auto {
    width: 250px !important;
    margin-top: 40px;
}

#student .add-student-btn {
    margin-top: -40px;
}

#student .add-student-btn button {
    border-radius: 30px;
}

#student .student-profile {
    height: 40px;
    /* padding: ; */
    /* padding: 20px; */
    background-color: #009D24;
    width: 40px;
    border-radius: 50%;
}

#student .student-profile img {
    /* width:20px; */
    width: 100%;
    padding: 8px;
}

#assignment .create-assignment-btn {
    margin-top: -60px;
}

/* **************************** 

 red red red red red red red Recent Board Page  red red red red red red red 

*********************************************** */
.recent-board-div .recent-board-btn {
    position: relative;
}

.recent-board-div .recent-board-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -9px;
    width: 100%;
    height: 2px;
    background-color: #1F71CE;
}





/* ****************************************************************************************************************** */
/*    Responsiveness */

/* the screen from 1400 to 1800 */

@media only screen and (max-width:1800px) and (min-width:1400px) {

    /*  red red red red red red red Assignments Listing page red red red red red red red *** */
    .assignment-listing .cards-section .row {
        flex-wrap: nowrap;
        overflow: scroll;

    }

    .assignment-listing .cards-section .custom-card-width {
        height: 100%;
        width: 300px;
    }


}



/* for laptop screens 1440 */

@media only screen and (max-width:1440px) {

    /* login page */
    #login-form {
        margin: 65px 0 0 45px;
    }

    #avatar-right {
        display: block;
    }

    #avatar-left {
        display: none;
    }

    #courses-section .card {
        margin-bottom: 16px;
    }

    /* *********************************
    Create White board
    ***************************************************/

    /* sidemenu */
    #white-board .side-menu {
        top: 5%;
        left: 20px;
    }

    /* board */
    #white-board .white-board {
        min-height: calc(100vh - 90px);
    }

    #white-board canvas {
        width: 100% !important;
        height: calc(100vh - 90px) !important;
    }

    #white-board .canvas-container {
        width: 100% !important;
        height: calc(100vh - 90px) !important;
    }

    /* 

create assignments q1

*/
    .create-assignment-q1 .multiple-choice input {
        width: 35% !important;

    }

    .create-assignment-q1 input#title-assessment {
        width: 35%;
    }

    .create-assignment-q1 .multiple-choice {
        width: 50%;
    }

    .students #courses-section {
        width: unset;
    }

}

/* for tablets screen 1024px*/
@media only screen and (max-width:1024px) {

    /* top bar */
    #avatar-right {
        display: none;
    }

    #avatar-left {
        display: block;
    }

    .instructor.courses .table-container,
    .instructor.students .table-container,
    .instructor.student-view .table-container,
    .assignment-home .table-container,
    .instructor.gradebook .table-container {
        overflow: auto;
    }

    .instructor.courses .table,
    .instructor.students .table,
    .assignment-home .table,
    .instructor.student-view .table {
        min-width: 940px !important;
    }

    #grade-book .table {
        min-width: 450px !important;
    }

    /* login page */

    .logins-main {
        background: url("../Images/login-image.jpg") no-repeat center;
        height: 100vh;
        background-size: cover;
    }

    #login-form {
        margin: 100px 0 0 0;
        background-color: rgb(0, 0, 0, .3);
        padding: 120px;
    }


    #login-form h3,
    #login-form .form-check-label,
    #login-form a {
        color: var(--color-white) !important;
    }

    /* 
    ++++++++++++++++++++++++++++++ 
    Create a Courses Page
    ++++++++++++++++++++++++++++++
    */
    #side-border {
        background-color: var(--color-black);
        width: 100%;
        height: 1px;
    }

    /* **********************
    create whiteboard
  *******************************  */



    /* sidemenu */
    #white-board .side-menu {
        position: relative;
        width: 90%;
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
        top: 0;
    }

    #white-board .side-menu .nav-menu {
        width: 60%;
        margin-bottom: 1rem;
    }

    #white-board .side-menu .nav-menu button {
        padding: 0 10px;
    }

    /* board */
    #white-board .white-board {
        min-height: calc(100vh - 145px);
    }

    #white-board canvas {
        height: calc(100vh-145px) !important;
    }

    #white-board .canvas-container {
        height: calc(100vh-145px) !important;
    }

    /* 
    
    Create new assignmetn q-1 page
    
    */
    .create-assignment-q1 .select-value {
        border-radius: 10px;
    }

    .create-assignment-q1 input#title-assessment {
        width: 60%;
    }

    .create-assignment-q1 .multiple-choice {
        width: 100%;
    }

    .create-assignment-q1 .multiple-choice input {
        width: 25% !important;
    }

    /* 
    
    history of real estate
    
    */
    #tab-nav .nav-link {
        padding-top: 0;
    }

    #student .col-auto {
        width: 220px !important;
    }
    
}

/* ********************************************************* */
/* for mobiles screen 768px*/
@media only screen and (max-width:768px) {

    /*
    
    history of real estate
    
    */
    /* posts */
    #posts {
        width: 100% !important;
    }
}


/* for mobiles screen 425px*/
@media only screen and (max-width:425px) {

    /* all pages search */
    #search {
        display: none;
    }

    .hero-section {
        height: 200px;
    }

    /* #courses-section {
        margin: 0;
    } */

    #courses-section .card {
        margin: 4px;
    }

    .instructor.courses .heading .title,
    .instructor.students .heading .title {
        padding-left: 0px;
    }

    .instructor.courses .heading .title a,
    .instructor.students .heading .title a {
        margin-top: -5px;
    }

    /* border right 1 */

    /* borders */
    .border-right-1 {
        border-right: none;
    }

    /* 
    
    LOGIN PAGE
    
    */
    #login-form {
        padding: 50px 20px;
    }

    /*&*********************** 
        Create whitebaord
    ***************************************** */
    #white-board .side-menu .nav-menu {
        width: 100%;
        margin-bottom: 1rem;
    }

    #white-board .side-menu button img {
        width: 16px;
    }

    #switchoffOn {
        display: none;
    }

    /* board */
    #white-board .white-board {
        min-height: 60vh;
    }

    #white-board canvas {
        height: 60vh !important;
    }

    #white-board .canvas-container {
        height: 60vh !important;
    }

    /*

create new assignment question no.1 page

*/
    .create-assignment-q1 input#title-assessment {
        width: 48%;
    }

    /* date */
    .create-assignment-q1 .datepicker input {
        width: 130px;
    }

    .create-assignment-q1 .multiple-choice input {
        width: 55% !important;
    }

    /*     
    history of real estate 
*/
    /* posts */
    .history-of-real-estate .nav-pills {
        margin-left: 40px;
    }

    #posts {
        margin-left: 12px;
    }

    #posts .editor-row {
        padding: 0;
        margin-bottom: 20px;
    }

    #posts .editor-last-row {
        padding: 0;
    }

    #student .add-student-btn {
        margin: 10px;
    }

    #student .col-auto {
        margin-top: 20px;
    }

    #assignment .create-assignment-btn {
        margin-top: -10px;
    }


}

@media only screen and (max-width:320px) {
    .top-nav .navbar-brand {
        font-size: 16px;
    }

    .top-nav #avatar-left {
        margin-right: 5px !important;
    }

    .instructor.courses .heading .title,
    .instructor.students .heading .title {
        display: flex;
        flex-wrap: wrap;
        gap: 5px 0;
    }

    .instructor.courses .heading .title a,
    .instructor.students .heading .title a {
        margin-top: 0px;
    }
/* courses */
.courses h2,a.btn-primary{
    font-size: 18px;
}
.courses a.btn-primary{
    padding: 5px 10px;
    font-size: 16px;
}
}