/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    /* colors */
    --color-red:#ff0202;
    --color-green:#009D24;
    --color-primary:#2E7CD8;
    --color-grey:#989898;
    --color-black: #000;
    --color-white: #fff;
    --border-color: #707070;
    --button-primary: var(--color-primary);
    --button-primary-hover: #4789d4;
    --hero-text: #E8D32E;

    /* box shadows */
    --text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold-medium: 600;
    --font-weight-bold: 700;
    --input-border-radius: 12px;
}

/* border colors for getting the landscape of div */
.red {
    outline: 1px solid red;
}

.black {
    outline: 1px solid black;
}

.green {
    outline: 1px solid green;
}

.blue {
    outline: 1px solid blue;
}

.yellow {
    outline: 1px solid yellow;
}
/************** 
START CSS
GLOBAL
***************/

/* body */
body {
    background: #F8F8F8;
    font-family: Poppins;
}


/* custom define tages and classes */
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-22{
    font-size: 22px;
}
h2 {
    font-size: 26px;
    font-weight: var(--font-weight-regular);
}
h3 {
    font-size: 24px;
    font-weight: var(--font-weight-medium);
}

h4 {
    font-size: 18px;
    font-weight: var(--font-weight-regular);
}
.text-green{
    color: var(--color-green);
}
.text-red{
    color: var(--color-red);
}
.main-section{
    min-height: 500px;
}
/* radio buttons */
input[type=radio]{
    border-color: var(--border-color);
}
input[type=radio]:checked{
    background-color: var(--color-primary);
}
/************** 
    START
 TOP NAVBAR
***************/

.top-nav a {
    font-weight: var(--font-weight-regular);
    font-size: 20px;
    color: var(--color-black);
}

.top-nav .navbar-nav a {
    font-size: 16px;
    font-weight: var(--font-weight-regular);
    margin-right: 16px;
}

.top-nav .top-search {
    border: 1px solid var(--border-color);
    border-radius: var(--input-border-radius);
}

.top-nav .top-search::placeholder {
    font-size: 12px;
}
/* user profile */
#avatar-left {
    display: none;
}
input[type=checkbox]:checked{
    border-color: var(--color-primary)!important;
    background-color: var(--color-primary);
}
/************** 
    END
 TOP NAVBAR
***************/

/* all body section */
#body-section .main-section {
    padding-bottom: 20px;
}

/* herosection in all pages */
.hero-section {
    height: 350px;
    background: url("../Images/hero-img.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section-text {
    color: #E8D32E;
    font-size: 100px;
    font-weight: var(--font-weight-bold);
    text-shadow: var(--text-shadow);
}

/******************** 
side bar in all pages 
*********************/

.sidebar {
    /* height: calc(100vh - 405px); */
    height: 100%;
    width: 24px;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 70%;
    font-size: 36px;
    /* margin-left: 50px; */
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    width: 250px;
    text-transform: uppercase;
    color: var(--color-black);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: var(--button-primary);
}

#nav-btn {
    background: var(--color-white);
    border: none;
}

#dots-3 {
    display: flex;
    flex-direction: column;
}

#dots-3 span {
    height: 10px;
    width: 10px;
    margin-bottom: 1px;
    border-radius: 50%;
    background-color: var(--button-primary);
}
.sidebar .toggle {
    padding-right: 2px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.active{
    color: var(--color-primary)!important;
}
.btn-primary{
    background-color: var(--button-primary);
    border-color: var(--button-primary);
}
.btn-primary:hover{
    background-color: var(--button-primary-hover);
    border-color: var(--button-primary-hover);
}
/************** 
END CSS
GLOBAL
***************/


/* **************

    Login page

 ************************ */
/* login page */
#login-main .login-title {
    margin: 140px 0 65px 0;
}

#login-form input:not([type=checkbox]) {
    border: 1px solid var(--border-color);
    border-radius: var(--input-border-radius);
}

#login-form .links {
    color: var(--color-black);
    font-size: 16px;
    font: var(--font-weight-regular);
}

#login-form p {
    margin: 0;
}

#login-form .forget-email {
    text-decoration: none;
}

/* login button */
#login-form button[type=submit] {
    padding: 5px 50px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: var(--font-weight-regular);
    background-color: var(--button-primary);
    border: none;
}
#login-form button[type=submit]:hover{
    background-color:var(--button-primary-hover);
}

/* *************** 
    Dashboard Page
********** */
/* left section */
/* top welcome professor */
.welcome-title {
    font-weight: var(--font-weight-regular);
    font-size: 20px;
}

/* courses card section */
#courses-section .card {
    margin-left: 16px;
    width: 160px;
    border-radius: 12px;
    background-color: #fff;
    text-transform: uppercase;
    box-shadow: var(--box-shadow);
    transition: all 0.25s;
}

#courses-section .card:hover a{
    color: #fff!important;
}
#courses-section .card:hover a img{
    filter: invert(93%) sepia(0%) saturate(7448%) hue-rotate(31deg) brightness(113%) contrast(99%);
}
#courses-section .card:hover {
    box-shadow: none;
    background-color: var(--button-primary-hover);
}
#courses-section .card-body {
    padding: 24px 0;
}

#courses-section .card-text {
    font-size: 16px;
    font-weight: var(--font-weight-regular);
}


/* right section */
#right-calender-section .classes-time {
    width: 100%;
    background: var(--color-white);
    font-size: 14px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid var(--border-color);
    font-weight: var(--font-weight-regular);
    border-radius: var(--input-border-radius);
}


/* ***************************

    Create a course page

********************************************* */
/* slect university dropdown design */
.input-focus{
    padding: 5px 20px;
    border: 1px solid var(--border-color);
    border-radius: var(--input-border-radius);
}
.input-focus:focus{
    border: 1px solid var(--border-color);
}
.input-textarea{
    border: 1px solid var(--border-color);
    border-radius: var(--input-border-radius);
}
.input-textarea:focus{
    border: 1px solid var(--border-color);
}
#add-course button[type=submit] {
    padding: 5px 50px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: var(--font-weight-regular);
    background-color: var(--button-primary);
    border: none;
}
#add-course button[type=submit]:hover{
    background-color:var(--button-primary-hover);
}
#add-course .date{
    border: none;
    background-color: transparent;
}
/* center border */
#side-border{
    background-color: black;
    width: 1px;
    height: 100%;
}



/*********************************************
                Instructor  Page
***********************************************/
.instructor .heading .back-btn a,
.instructor .heading .back-btn a{
    text-decoration: none;
    color: var(--color-black);
    transition: margin 200ms ease-in-out;
}

.instructor .heading .back-btn a:hover,
.instructor .heading .back-btn a:hover{
    margin-left: -5px!important;
}
.instructor.courses .heading .title a,
.instructor.students .heading .title a{
    margin-top: -15px;
}
.instructor.courses .heading .title,
.instructor.students .heading .title{
    padding-left: 10px;
}
.instructor.courses :is(tbody, td, tfoot, th, thead, tr) ,
.instructor.students :is(tbody, td, tfoot, th, thead, tr) {
    border-style: none!important;
}
.instructor.courses .table thead tr,
.instructor.students .table thead tr{
    text-decoration: underline;
}

/* *************************** 

Course policies page

*******************************************  */
#course-policies .course-policies-dropdown{
    border: 1px solid var(--border-color);
    border-radius: var(--input-border-radius);
    padding: 5px 10px;
}
#course-policies .course-policies-dropdown:focus{
    border: 1px solid var(--border-color);

}
/* login button */
#course-policies button[type=submit] {
    padding: 5px 50px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: var(--font-weight-regular);
    background-color: var(--button-primary);
    border: none;
}
#course-policies button[type=submit]:hover{
    background-color:var(--button-primary-hover);
}





/* ****************************************************************************************************************** */


/*    Responsiveness */




/* for laptop screens 1366 */

@media only screen and (max-width:1366px) {

    /* login page */
    #login-main .login-title {
        margin: 100px 0 45px 0;
    }
    #avatar-right {
        display: none;
    }
    #avatar-left {
        display: block;
    }
    #courses-section .card {
        margin-bottom: 16px;
    }
}

/* for tablets screen 768px*/
@media only screen and (max-width:768px) {
    /* .sidebar{
        height: 400px;
    } */
    .instructor.courses .table-container,
    .instructor.students .table-container{
        overflow: auto;
    }
    .instructor.courses .table,
    .instructor.students .table{
        min-width: 940px!important;
    }
    
    /* +++++++++++++++++++++++ 
    Create a Courses Page
++++++++++++++++++++++++++++++    */
#side-border{
    background-color: black;
    width: 100%;
    height: 1px;
}
    
    
}

/* for mobiles screen 425px*/
@media only screen and (max-width:425px) {
    
    /* all pages search */
    #search {
        display: none;
    }
    .hero-section{
        height: 200px;
    }
    #courses-section {
        margin: 0;
    }
    #courses-section .card {
        margin: 4px;
    }
    .instructor.courses .heading .title,
    .instructor.students .heading .title{
        padding-left: 0px;
    }
    .instructor.courses .heading .title a,
    .instructor.students .heading .title a{
        margin-top: -5px;
    }
}

@media only screen and (max-width:320px) {
    .top-nav .navbar-brand{
        font-size: 16px;
    }
    .top-nav #avatar-left{
        margin-right: 5px!important;
    }
    .instructor.courses .heading .title,
    .instructor.students .heading .title {
        display: flex;
        flex-wrap: wrap;
        gap: 5px 0;
    }
    .instructor.courses .heading .title a,
    .instructor.students .heading .title a{
        margin-top: 0px;
    }
}